* {
    padding: 0;
    margin: 0;
}
/* Mobile Screen First*/
body {
    min-height: 100vh;
    width: 375px;
    margin: 25px auto;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    flex-direction: column;
    border-radius: 8px;
    justify-content: end;
}
main .card-img {
    background-image: url('images/image-product-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 263px;
    width: 375px;
}
.card-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: end;
}
.card-content .cat-type {
    font-size: 0.8em;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 8px;
    color: hsl(228, 12%, 48%);
}
.card-content .card-title {
    font-family: 'Fraunces', serif;
    font-size: 2em;
}
.card-content p {
    font-size: 14px;
    padding: 8px 0;
    line-height: 1.7;
    color: hsl(228, 12%, 48%);
    width: 296px;
}
.card-content .price {
    display: flex;
    justify-content: space-between;
    width: 62%;
    padding: 14px 0;
}
.card-content .price .card-price-regualr {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}
.card-content .price .card-price-sale {
    align-items: center;
    display: flex;
    text-decoration-line: line-through;
    color: hsl(228, 12%, 48%);
}
.card-content button {
    padding: 18px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: 0;
    cursor: pointer;
}
.card-content button:hover {
    background-color: hsl(158deg 33% 23%);
    transition: 1s;
}
.card-content .cart-logo {
    padding-right: 10px;
}
footer {
    padding: 10px 38px;
}
/* Desktop Screen */
@media(min-width: 799px) {
    body {
        width: 1440px;
    }
    main {
        flex-direction: row;
        min-height: 0;
    }
    .card-content {
        justify-content: space-evenly;
        width: 16em;
        padding: 20px 20px 30px 20px;
    }
    .card-content .card-title {
        width: 80%;
    }
    main .card-img {
        background-image: url('images/image-product-desktop.jpg');
        background-size: cover;
        width: 340px; 
        height: 472px;
        border-bottom-left-radius: 8px;
        border-top-right-radius: 0;
    }
    .card-content p {
        width: 230px;
    }
    .card-content .price {
        width: 80%
    }
}
