* {
    padding: 0;
    margin: 0;
}
body {
    width: 375px;
    margin: 25px auto;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}
.card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.card .card-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 400px;
}
.card-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.card-content .cat-type {
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 8px;
    color: hsl(228, 12%, 48%);
}
.card-content .card-title {
    font-family: 'Fraunces', serif;
    padding: 8px 0;
}
.card-content p {
    font-size: 14px;
    padding: 8px 0;
    line-height: 1.7;
    color: hsl(228, 12%, 48%);
    width: 296px;
}
.card-content .price {
    display: flex;
    justify-content: space-between;
    width: 62%;
    padding: 14px 0;
}
.card-content .price .card-price-regualr {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}
.card-content .price .card-price-sale {
    align-items: center;
    display: flex;
    text-decoration-line: line-through;
    color: hsl(228, 12%, 48%);
}
.card-content button {
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: 0;
    cursor: pointer;
}
.card-content button:hover {
    background-color: hsl(158deg 33% 23%);
    transition: 1s;
}
.card-content .cart-logo {
    padding-right: 10px;
}
.attribution {
    padding: 10px 38px;
}
/* Desktop Style */
@media(min-width: 799px) {
    body {
        width: 1440px;
        margin: 200px auto;
    }
    .card {
        flex-direction: row;
        margin: 60px 402px;
    }
    .card-content {
        justify-content: space-evenly;
        width: 241px;
        padding: 25px;
    }
    .card .card-img {
        width: 340px;
        height: 472px;
        border-bottom-left-radius: 8px;
        background-image: url('images/image-product-desktop.jpg');
    }
    .card p {
        width: 245px;
    }
    .card .price {
        width: 80%
    }
    .attribution {
        justify-content: center;
        display: flex;
    }
}
